body {
	margin: 0;
}

.slide {
	background-color: #fff;
	border: 5px solid black;
	transition: transform 500ms, filter 1000ms;
	position: absolute;
	width: 50%;
	height: 50%;
	z-index: 2;
}

.active {
	z-index: 1;
}

.slide:not(.active) {
	transform: translate(-100%, 0);
}

.active + .slide  {
	filter: blur(10px);
}

.active ~ .slide {
	transform: none;
	z-index: 0;
}